@{
}
<html>
<head>
    <title>Only True Facts</title>
    
    <meta name="description" content="True Facts">
    <meta name="author" content="4US">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/site.min.css">
</head>
<body>
    @RenderBody()
</body>
</html>

